<!DOCTYPE html>
{% load tz_detect %}
<html>
<head>
    <title>ZooShop</title>
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Главная</a>

        <a href="{% url 'products' %}">Товары</a>
        {% if request.user.client %}
            <a href="{% url 'cart_detail' %}">Корзина</a>
        {% endif %}

        <a href="{% url 'about' %}">О компании</a>
        <a href="{% url 'news' %}">Новости</a>

        {% if not request.user.is_superuser %}
            <a href="{% url 'faq' %}">Список часто задаваемых вопросов</a>
        {% endif %}

        <a href="{% url 'contacts' %}">Контакты</a>
        <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>

        {% if not request.user.is_superuser %}
            <a href="{% url 'promocodes' %}">Промокоды</a>
        {% endif %}


        {% if request.user.employee or request.user.is_superuser %}
            <a href="{% url 'suppliers' %}">Информация о поставщиках</a>
        {% endif %}


        {% if request.user.is_superuser %}
            <a href="{% url 'promocode_list' %}">Промокоды</a>
            <a href="{% url 'vacancy_list' %}">Вакансии</a>
            <a href="{% url 'orders' %}">Список продаж</a>
             <a href="{% url 'faq_list' %}">Список часто задаваемых вопросов</a>
             <a href="{% url 'sales_chart' %}">Статистика</a>
        {% endif %}


        <a href="{% url 'reviews' %}">Отзывы</a>


        {% if not request.user.employee and not request.user.client and not request.user.is_superuser %}
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        {% endif %}


        {% if not request.user.employee and not request.user.client and not request.user.is_superuser %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}


        {% if request.user.employee or request.user.client or request.user.is_superuser %}
            <a href="{% url 'cats_facts' %}">Факты о котах</a>
            <a href="{% url 'dogs_images' %}">Фото собаки</a>
            <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    It is {% now "jS F Y H:i" %}
{#    {% tz_detect %}#}
</body>
</html>
