{% extends 'base.html' %}
{% block header %}Profile{% endblock %}
{% block content %}
<div>
    <ul>
        <li>
            <img src="{{ profile.image.url }}" height="200">
        </li>
        <li>
            <lable>Name:</lable>
            <lable>{{ profile.name }}</lable>
        </li>
        <li>
            <lable>Surname:</lable>
            <lable>{{ profile.surname }}</lable>
        </li>
        <li>
            <lable>Email:</lable>
            <lable>{{ profile.email }}</lable>
        </li>
        <li>
            <lable>Phone number:</lable>
            <lable>{{ profile.phone_number }}</lable>
        </li>
        <li>
            <lable>Birth date:</lable>
            <time datetime="{{ profile.birth_date }}">{{ profile.birth_date }}</time>
        </li>

    </ul>
    {% if request.user.client or request.user.employee %}
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    {% endif %}
</div>
{% endblock content %}