{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ promo_code_form.as_p }}
    <button type="submit">Офрмить заказ</button>
</form>
     <p><form action="{% url 'cart_detail' %}" method="get">
    <button type="submit">Вернуться к корзине</button>
    </form></p>

{% if applied_promo_code %}
    <p>Applied promo code: {{ applied_promo_code.code }} with {{ applied_promo_code.discount }}% discount</p>
{% endif %}

<h3>Cart Summary</h3>
<ul>
    {% for item in cart_summary %}
        <li>{{ item.product.name }} x {{ item.quantity }} = {{ item.total_cost }}</li>
    {% endfor %}
</ul>
<p>Total cost: {{ total_cost }}</p>
{% endblock %}
