{% extends "base.html" %}

{% block content %}
    <h1>Оформление заказа</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div>
            <label for="id_address">Адрес:</label>
            {{ address_form.address }}
            {% if address_form.address.errors %}
                <div class="error">{{ address_form.address.errors }}</div>
            {% endif %}
        </div>
        <br>
        <div>
            <label for="id_promo_code">Введите промокод (необязательно):</label>
            {{ promo_code_form.promo_code }}
            {% if promo_code_form.promo_code.errors %}
                <div class="error">{{ promo_code_form.promo_code.errors }}</div>
            {% endif %}
        </div>

        <button type="submit">Оформить заказ</button>
    </form>

    <p>
        <form action="{% url 'cart_management' %}" method="get">
            <button type="submit">Вернуться к корзине</button>
        </form>
    </p>
{% endblock %}
